doctype html
html
    head
        title='SportTrack'
        link(rel='stylesheet', href='stylesheets/style.css')
    body
        if message
            h1= message
        form(method='get', action='/')
            div
                button(type='submit', name='submit') Accueil !