doctype html
html
    head
        title='Ajouter une activité'
        link(rel='stylesheet', href='stylesheets/style.css')
    body
        form(action='', method='post', enctype='multipart/form-data')
            div
                input#activity_summary(type='file', name='activity_summary', accept='application/json', required='')
                label(for='activity_summary') Choisir une activité
            div
                button(type='submit', name='submit') Envoyer
